.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.map{
	position: relative;
	top: 0;
	left: 0;
}

.havana-cuba-icon{ 
	fill: orange;
	height:0;
	width:0;
	position: absolute;
	top: 795px;
	left: 570px;
}

.washington-dc-icon{
	fill: rgb(42, 186, 112);
	/* height:0;
	width:0; */
	position: absolute;
	top: 620px;
	left: 570px;
}

.icon svg {
	width: fit-content;
	display: block;
}

button {
	background-color: aqua;
	border: none;
}