/* 
max-width: 1312px (this is 1280px plus the padding)
margin: auto
padding: 0 16px
grid-template-columns: repeat(10, 1fr)
gap: 20px 
*/

.about-background {
	background-color: #000;
	width: 100%;
}

.about-section {
	margin: auto;
	padding: 0 16px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 20px;
	max-width: 1312px;
	height: auto;
	align-items: center;
}

.about-image-container {
	height: 502px;
	grid-column: 1 / span 3;
}

.about-dancers-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.about-text-container {
	height: auto;
	color: #fff;
	font-family: var(--font-roboto);
	font-weight: 700;
	text-align: left;
	line-height: normal;
	grid-column: 5 / span 6;
}

.about-text-container h4 {
	font-size: 32px;
	padding-bottom: 26px;
}

.about-text-container p {
	font-size: 18px;
}

@media screen and (max-width: 768px) {
	.about-section {
		grid-template-columns: repeat(6, 1fr);
	}

	.about-image-container {
		grid-column: 2 / span 4;
		height: auto;
	}

	.about-text-container {
		grid-column: 1 / span 6;
		height: auto;
		align-self: center;
		text-align: center;
	}

	.about-text-container h4 {
		text-align: center;
	}
}
