.artist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .text h4{
    width: 602px;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .text p{
    font-family: 'Roboto';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    padding-top: 32px;
    width: 585px;
  }
  
  .text span{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .text{
    width: 585px;
  }
  
  .backgroundImage{
    width: 100%;
    
    
  }
  
  .image{
    position: relative;
    /* top: 80px; */
    left: 15px;
    width: 539px;
    height: 539px;
  }
  
  .portrait{
    width: 396px;
    height: 396px;
    position: absolute;
    border-radius: 198px;
    margin-left: 16px;
    margin-top: 72px;
    margin-right: 207px;
    margin-bottom: 175px;
    top: 2%;
    right: -15%;
  }
  
  .learn{
    width: 190px;
    padding: 11px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #000;
    margin-right: 91px;
  }
  
  .contact {
    width: 293px;
    padding: 11px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #CB3100;
  }
  
  .contact img {
    margin-right: 10px;
  }
  
  .artist button{
    margin-top: 64px;
    font-weight: 500;
    font-size: 24px
  }