.custom-audio-player {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px;
}

.stop-button,
.play-button {
	width: 58.209px;
	height: 58.209px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	outline: none;
	padding-right: 0;
	fill: #cb3100;
	background-color: transparent;
}
.stop-button {
	width: 20px;
}
.stop-rectangles {
	width: 13.92px;
	height: 50.617px;
	flex-shrink: 0;
	background: #cb3100;
	margin-right: 3px;
	margin-left: 0;
}

.play-button {
	padding: 0%;
}
.seek-bar-container {
	display: flex;
	align-items: center;
}

.seek-bar-start,
.seek-bar-end {
	width: 4px;
	height: 45.555px;
	background: #cb3100;
}

.seek-bar {
	flex: 1;
	-webkit-appearance: none;
	width: 346.724px;
	height: 4px;
	background: #cb3100;
	outline: none;
	-webkit-transition: 0.2s;
	border-radius: 3px;
}

.seek-bar::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #cb3100;
	cursor: pointer;
}

.seek-bar::-moz-range-thumb {
	width: 12px;
	height: 12px;
	border: none;
	border-radius: 50%;
	background: #cb3100;
	cursor: pointer;
}
@media (max-width: 768px) {
	.custom-audio-player {
		align-items: center;
		padding: 30px;
	}
	.stop-button {
		width: 20px;
	}
	.seek-bar {
		width: 250px;
	}
}
@media (min-width: 300px) and (max-width: 480px) {
	.seek-bar {
		width: 180px;
	}
}
@media (min-width: 200px) and (max-width: 350px) {
	.seek-bar {
		width: 100px;
	}
}
