/* change map background colour */
.night #dotmap {
	background-image: linear-gradient(
		to right,
		#0c1330,
		#0c1330,
		#182049,
		#1e2c5f,
		#182049,
		#0c1330,
		#0c1330
	);
}

/* change map dot colour */
.day #dotmap path {
	fill: black;
}

.night #dotmap path {
	fill: rgb(185, 158, 1);
}

#dotmap {
	margin: 1em;
}
