/* dot map classes & ids */

/* Cuba marker - can also use id #cuba */
/* #dotmap > path:nth-child(1823) {
	fill: red;
} */

/* Guadeloupe marker - can also use id #guadeloupe */
/* #dotmap > path:nth-child(1873) {
	fill: green;
} */

/* NOLA marker - can also use id #nola */
/* #dotmap > path:nth-child(1608) {
	fill: yellow;
} */

/* Washington DC marker - can also use id #washingtondc */
/* #dotmap > path:nth-child(1308) {
	fill: blue;
} */

#dotmap {
	background-image: linear-gradient(
		to right,
		#0c1330,
		#0c1330,
		#182049,
		#1e2c5f,
		#182049,
		#0c1330,
		#0c1330
	);
}

#dotmap path {
	fill: black;
}
