.dual-range-container {
	margin: 82px;
	max-width: 500px;
	padding: 20px;
	border-radius: 10px;
	margin-top: 30px;
}

.range-title {
	text-align: center;
	margin-bottom: 20px;
}

.range-track {
	height: 6px;
	width: 100%;
	background-color: #ddd;
	position: relative;
}

.range-highlight {
	position: absolute;
	height: 6px;
	background-color: #000;
}

.range-label-container {
	position: absolute;
	bottom: -25px;
	width: 500px;
}

.range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	outline: none;
}

.range-thumb.day-mode {
	background: #000;
}

.range-thumb.night-mode {
	background: #b99e01;
}

.range-values {
	display: flex;
	justify-content: space-between;
	color: green;
	display: none;
}
