footer {
    display: flex;
    justify-content: space-between;
    padding: 71px 78px; 
    background-color: #000000;
    color: #ffffff;
}

.organisation-container {
    width: 533px
}

.external-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}