header {
	background-color: #ffffff;
	height: 4.5em;
	max-width: 1312px;
	justify-content: center;
	align-items: center;
}

header a,
header a:visited {
	color: #000000;
	text-decoration: none;
}

.header-logo_container {
	display: flex;
	flex-shrink: 0;
	gap: 2em;
	margin-left: 5.125em;
}

.header-logo-decodenoir {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	font-size: 2em;
}

.header-logo-cyf {
	width: 11.5em;
	height: auto;
}

@media screen and (max-width: 768px) {
	header {
		justify-content: center;
		align-items: center;
	}

	.header-logo_container {
		display: flex;
		margin: 0 16px;
		transform: scale(0.7);
	}

	.header-cross-icon {
		margin-right: -19px;
	}
	.header-logo-cyf {
		transform: scale(0.9);
	}
}
