.map-section {
	width: 100%;
	height: auto;
	flex-shrink: 0;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #cb3100;
	position: relative;
	max-width: 1312px;
	margin: auto;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 2;
	max-width: none;
}

.night {
	background-image: linear-gradient(
		to right,
		#0c1330,
		#0c1330,
		#182049,
		#1e2c5f,
		#182049,
		#0c1330,
		#0c1330
	);

	color: antiquewhite;
}

.bootstrap-container {
	padding-left: 82px;
	padding-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-content: space-between;
	gap: 25px;
}

.bootstrap-container span {
	margin-top: 10px;
}

.bootstrap-light {
	background-color: white;
	box-shadow: 10px 10px 12px -8px rgba(0, 0, 0, 0.75);
	color: #cb3100;
	border: 1px solid black;
}

.bootstrap-night {
	background-color: #1e2c5f;
	color: antiquewhite;
	border: #1e2c5f;
	box-shadow: 10px 10px 12px -8px rgba(0, 0, 0, 0.75);
	border: 1px solid black;
}

.expand-button {
	width: 100%;
	top: 15px;
	right: 10px;
}

.expand-icon {
	width: 40px;
	position: absolute;
	top: 4em;
	right: 2.5em;
	height: 40px;
	cursor: pointer;
}

.exit-fullscreen-button {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	text-decoration: underline;
}

.full-screen-map img {
	width: 100%;
	height: auto;
}
