.modal-content {
	max-width: 1014px;
	width: 80%;
	height: auto;
	border-radius: 16px;
	border: 2px solid #000;
	background: #fff;
	padding: 0 20px 20px 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.modal-header {
	border: none;
	padding-top: 10px;
}
.modal-title {
	font-size: 32px;
	font-weight: 700;
}
.modal-header .btn-close {
	position: absolute;
	width: 30.845px;
	height: 20.442px;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.modal-body {
	padding-top: 0;
	height: 500px;
}
.card-thumb {
	height: 450px;
}
.description-text {
	padding-top: 30px;
}
.modal.fade .modal-dialog {
	transition: none;
}
@media screen and (max-width: 768px) {
	.modal-content {
		width: 90%;
		height: auto;
		max-width: none;
		padding: 0px;
	}

	.modal-title {
		font-size: 20px;
	}
	.modal-body {
		height: 450px;
	}

	.card-thumb {
		height: 400px;
	}

	.description-text {
		padding: 25px;
	}
}
