.rhythmItemList {
	position: absolute;
	list-style-type: none;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid transparent;
	border-radius: 10px;
	width: 16em;
	color: var(--copy-color);
}

.night .rhythmItemList {
	background-color: rgb(185, 158, 1);
	color: #1e2c5f;
}

.rhythmCodeName {
	font-weight: 700;
	font-size: 2.5em;
	list-style-type: none;
	margin: 5px 0;
	padding-bottom: 8px;
	cursor: pointer;
}

.rhythmItemList > li > button {
	text-align: left;
	background: none;
	border: none;
	padding: 1px;
	font: var(--font-roboto);
	color: var(--copy-color);
	font-size: 2.5em;
	cursor: pointer;
}

.night .rhythmItemList > li > button {
	color: #1e2c5f;
}

.rhythmItemList > li:hover {
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	.rhythmCodeName {
		font-size: 4em;
	}
	.rhythmItemList > li > button {
		font-size: 4em;
	}
	.rhythmItemList {
		width: 25em;
	}
}
